
/** テーブル関係 */


.setting,td,tr{
    position:relative;
    width:100%;
    height: 8vh;
    z-index: 500;
    
    
}
.setting td{
  padding: 1% 0;
  text-align: center;
  border-bottom: 1px solid #bbb;
    
}
.setting td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10%;
    margin-left: 10%;
  }

.setting{
    margin-top: 0%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(255, 255, 255, 0.589);
    position:absolute;
    
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display:block;
    height:430px;  /*スクロールの高さ*/
    
}
.setting tr {
  
    border-bottom: 1px solid #bbb;
    overflow: auto;
  }

/** テーブル内の文字 */
.mojibox{
    
    margin-bottom:10%;
    margin-left: 120px;
    width: 10%;
}
.moji{
   
    font-size: 100%;
    color: black;
}

/** ヘッダーぐちゃぐちゃにならない用 */
div.header{
    position: fixed;
        top: 0%;
        width: 100%;
        height: 16%;
        z-index:1000;
        padding-bottom:10px;
}
div.footer{
    position: relative;
    z-index: 1000;
}
/** 背景 */
body{
    margin:0%;
    margin-bottom:0%;
    padding:0%;
    overflow: hidden;
}
/** 背景 */
img.background_1{
    width: 100%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    margin-top: 0%;
    z-index: 1;
}
/**立ち絵*/
img.background_2{
    position:relative;
    width: 45%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    margin-left:50%;
    margin-top: -45%;
    z-index:    2;
}

/*プルダウン*/
.cp_ipselect {
  
	position: relative;
	width: 20%;
	margin-top: -49.5% ;
  margin-left: 9.5%;
	text-align: center;
  z-index:6000;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 1% ;
	font-size: 25px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.514);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.925);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 10%;
	top: 10%;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #da3c41;
	top: 0px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0.5px;
	position: absolute;
	background: #da3c41;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 50%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
/*プルダウンend*/

/*送信ボタン*/
.search{
  
  display:inline-block;
  text-decoration: none;
  background: rgba(137, 236, 56, 0.849);
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin-top:1%;
  margin-left:70%;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.1s ease-in-out;
  font-weight: 1000;
  font-family:'Fredoka One', cursive;
}
.search:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-color: black;
  border-width: 1px;
}
.search:after {
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
.search:hover:after {
  border-color: rgba(31, 30, 30, 0.555);
}
/*ボタンend*/