body{
    margin:0px;
    margin-bottom:0px;
    padding:0%;
    overflow: hidden;
}

img.background_1{
    width: 100%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    position:relative;
    margin-top: 0px;

}
img.background_2{
    position:relative;
    margin-left: 8%;
    width: 30%;
    height:20%;
    vertical-align:center;
    background-size: contain;

}
div.background_2{
    position:relative;
    width: 80%;
    height:50%;
    vertical-align:center;
    background-size: contain;
    margin-top: -20%;
}

div.header{
    position: fixed;
        top: 0%;
        width: 100%;
        height: 16%;
        z-index:1000;
        padding-bottom:10px;
}
div.footer{
    z-index:100000;/*前面に表示*/
}

/*着せ替えボタン*/
 
div.button001 {
    text-decoration: none;
    background: rgba(137, 236, 56, 0.849);
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:1%;
    margin-left:8%;
    max-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.1s ease-in-out;
    font-weight: 1000;
    font-family:'Fredoka One', cursive;
    z-index: 10000000;
}
div.button001 :hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-color: black;
    border-width: 23px;
}
div.button001 :after {
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
div.button001 :hover:after {
    border-color: rgba(31, 30, 30, 0.555);
}


/*着せ替えボタンend*/

/*衣装一覧*/

.container {
    float: right;
    width: 55%;
    height: 342px;
    position:relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 80%;
    gap: 20px;
    margin-top:-38.5%;
    margin-right: 2%;

}

.grid-item{
    background-color: rgba(255, 255, 255, 0.61);
    text-align: center;
    border: 1px solid ;
    border-color:rgb(124, 124, 121);
    border-radius: 7px;
    margin-top: -1.5%;

}
.grid-item:hover{
	border-color:rgba(206, 241, 109, 0.568);
    background-color: rgba(245, 240, 240, 0.274);
    border-width:5px;

}
img.background_3{
    position:relative;
    width: 38%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    margin-top: -5%;
}


/*衣装一覧end*/