.flex{
    display: flex;
}
.nitiji{
    position: absolute;
    margin-top:-2.5%;
    margin-left: 82.5%;
    font-size: 200%;
    font-family: 'Kosugi maru' ,cursive;
}
.rogo{
    margin-left: 3%;
    font-size :200%;
    font-family: 'Kosugi maru' ,cursive;
}

.haikei{
    opacity: 0.3;
}

.kuuhaku{
    padding-top:3%;
    padding-bottom:2%;
    background-color: rgba(255, 255, 255, 0.589);
}

/* 好感度バー */
.fan-var_2{
    margin-left:15%;

    width: 60%;
}
div {
    overflow: hidden;

  }

  div > div {
    transform: translateX(calc(-90% + var(--w)));
    width: 90%;
  }

  /* 好感度ボックス */
  .fan-box_2{
    margin-left: 0%;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    font-family: 'Kosugi Maru', sans-serif;
  }
