/* 画面遷移アニメーション */
.md_transition {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  transition: transform 1.5s cubic-bezier(.39, .575, .565, 1) 0.1s;
    z-index: 999999;
}
.md_transition::before {

    background: -webkit-gradient(linear, left bottom, left top, from(hsla(0, 0%, 100%, 0)), color-stop(33.33333%, #fff), color-stop(66.66667%, #fff), to(hsla(0, 0%, 100%, 0)));
    background: -o-linear-gradient(bottom, hsla(0, 0%, 100%, 0) 0, #fff 33.33333%, #fff 66.66667%, hsla(0, 0%, 100%, 0) 100%);
    background: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #fff 33.33333%, #fff 66.66667%, hsla(0, 0%, 100%, 0));
    content: "";
    display: block;
    width: 100%;
    height: 300%;
    position: absolute;
    left: 0;
    top: -100%;
}
body.is_remove .md_transition {

    -webkit-animation: maskCloseTransition .4s cubic-bezier(.47, 0, .745, .715) 0s 1 forwards;
    animation: maskCloseTransition .1s cubic-bezier(.47, 0, .745, .715) 0s 1 forwards;

}
body:not(.is_fade) .md_transition {
    transform: translateY(-200%);
}
@-webkit-keyframes maskCloseTransition {

    0% { transform: translateY(200%); }
    to { transform: translate(0); }
}
@keyframes maskCloseTransition {
    0% { transform: translateY(200%); }
    to { transform: translate(0); }
}

/** ヘッダーぐちゃぐちゃにならない用 */
div.header{
    position: fixed;
        top: 0%;
        width: 100%;
        height: 16%;
        z-index:1000;
        padding-bottom:10px;
}
div.footer{
    position: relative;
    z-index: 1000;
}
/** 背景 */
body{
    margin:0%;
    margin-bottom:0%;
    padding:0%;
    overflow: hidden;
}
/** 背景 */
img.background_1{
    width: 100%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    margin-top: 0%;
    z-index: 1;
}
/**立ち絵*/
img.background_2{
    position:relative;
    width: 30%;
    height: 30%;
    vertical-align: top;
    background-size: contain;
    margin-left:50%;
    margin-top: -47.5%;
    z-index:    2;
}
img.background_3{
    position:relative;
    width: 25%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    margin-left:25%;
    margin-top: -49%;
    z-index:    2;
}
p{
    position:relative;
    width: 20%;
    height: auto;
    vertical-align: top;
    background-size: contain;
    margin-left:28%;
    margin-top: -46%;
    z-index:    2;
    font-size: 20px;
}
